<div class= "form">
<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label t(:username), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t(:password), :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
	<%= f.label t(:roles), :class => 'control-label' %>
	<div class="controls">
		<% for role in User::ROLES %>
		<%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
		<%=h role.humanize %><br />
		<% end %>
		<%= hidden_field_tag "user[roles][]", "" %>
	</div>
 </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
</div>